version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: psychoAI_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "1488:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d psychoAI_db"]
      interval: 5s
      timeout: 5s
      retries: 5
  bot:
    build: .
    container_name: psychoAI_bot
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    command: python -m source.main.bot
    volumes:
      - ./:/source  # Монтируем код бота
  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --requirepass admin
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 30s
      retries: 5

volumes:
  pg_data:
  redis_data: